body {
  width: 100%;
  min-height: 100vh;
  background-color: #e6e7ee;
}
.App_weather{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
}

/* form select location */
.form_place{
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff ;
    display: flex;
    justify-content: center;
    direction: rtl;
    backdrop-filter: blur(5px);
    height: 100px;
    width: 260px;
    border-radius: 15px;
    margin: 0 auto 30px auto;
    
}
.input-group {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
}
.input-group label {
    margin: 0;
    flex: 1;
}
button, input {
    border: 0;
    outline: 0;
    font-size: 14px;
    font-weight:600 ;
    border-radius: 5px;
    padding: 10px;
    background-color: #ebecf0;
    text-shadow: 1px 1px 0 #fff;
    color: gray;
}

input {
    margin-right: 5px;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
    width: 95%;
    height: 10%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}
input:focus {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
button {
    color: #61677c;
    font-weight: bold;
    box-shadow: -2px -2px 10px #fff, 2px 2px 10px #babecc;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}
button:hover {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
button:active {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

button.unit {
    border-radius: 8px;
    line-height: 0;
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    font-size: 15px;
}
/* form select location */
/* cart information weather */
.weather_cart{
    width: 260px;
    height: 350px;
    margin: 20px auto 0 auto;
}
.card {
    position: relative;
    min-height: 320px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #e6e7ee;
    background-clip: border-box;
    border: 0.0625rem solid rgba(243, 247, 250, 0.05);
    border-radius: 0.55rem;
}
.shadow-inset {
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF !important;
}
.border-light {
    border-color: #D1D9E6 !important;
}
/*  */
.card-body {
    flex: 1 1 auto;
    padding: 1.5rem;
}
.shadow-soft {
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff !important;
}