body {
  width: 100%;
  min-height: 100vh;
  background: #8e9eab no-repeat center cover; 
  background-image: linear-gradient(0deg, #8e9eab 0%, #eef2f3 62%);
}
.App_weather{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
}

/* form select location */
.form_place{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.26),
    inset 0px 3px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    direction: rtl;
    background-color: #ebecf0ad;
    backdrop-filter: blur(5px);
    height: 100px;
    border-radius: 15px;
    width: 260px;
    margin: 0 auto 50px auto;
    
}
.input-group {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
}
.input-group label {
    margin: 0;
    flex: 1;
}
button, input {
    border: 0;
    outline: 0;
    font-size: 14px;
    font-weight:600 ;
    border-radius: 320px;
    padding: 10px;
    background-color: #ebecf0;
    text-shadow: 1px 1px 0 #fff;
    color: gray;
}

input {
    margin-right: 5px;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
    width: 95%;
    height: 10%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}
input:focus {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
button {
    color: #61677c;
    font-weight: bold;
    box-shadow: -2px -2px 10px #fff, 2px 2px 10px #babecc;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}
button:hover {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
button:active {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

button.unit {
    border-radius: 8px;
    line-height: 0;
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    font-size: 19.2px;
}
/* form select location */
